.cabecalho {
    padding: 45px;
    background-color: var(--white);
    display: flex;
    align-items: center;    
}

.imagem__controle {
    position: absolute;
    left: 4.5%;
    top: 4.2%;
}

 .logo__alura {
    position: absolute;
    left: 11.5%;
    top:2.4em;
}

.logo__geek {
    position: absolute;
    left: 21.5%;
    top: 2.4em;
}

.login__texto {
    position: absolute;
    left: 42%;
    top: 1.8em;
    border: 1px solid var(--blue);
    padding: 0.8em 3.5em;
    color: var(--blue);
    font-family: var(--fonte-raleway);
    font-size: 14px;
}

.imagem__lupa {
    position: absolute;
    right: 1.5em;
    top: 2.4em;
    display: block;
}

