.star__wars {
    display: flex;
    align-items: center;
    padding: 2em 1.5em;
    justify-content: space-between;
}

.star-wars__titulo {
    font-family: var(--fonte-raleway700);
    font-size: 22px;
    color: var(--color-titulo);
}

.ver__tudo {
    text-decoration: none;
    color: var(--blue);
    font-family: var(--fonte-raleway700);
    font-size: 14px;
}


.imagens__starWars{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    align-items: center;
    gap: 7px;
   
}

.section__star-wars {
    width: 49%;
    padding: 0.5;
}