@import url(/header.css);
@import url(/banner.css);
@import url(/starWars.css);

:root {
    --white: #FFFFFF;
    --blue: #2A7AE4;
    --fonte-raleway: 'Raleway', sans-serif;
    --fonte-raleway700: 'Raleway', sans-serif;

}