.star__wars {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;

}

.star-wars__titulo {
    font-family: var(--fonte-raleway700);
    font-size: 22px;
    font-weight: 700;
    color: var(--color-titulo);
}


 .imagens__starWars { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 492px;
    align-items: center;

}
