.star__wars {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;

}

.star-wars__titulo {
    font-family: var(--fonte-raleway700);
    font-size: 22px;
    color: var(--color-titulo);
}


 .imagens__starWars { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.produtos__star-wars {
    margin-top: 0.7em;
}