@import url(/header.css);
@import url(/banner.css);
@import url(/starWars.css);
@import url(/contatos.css);

:root {
    --white: #FFFFFF;
    --blue: #2A7AE4;
    --fonte-raleway: 'Raleway', sans-serif;
    --fonte-raleway700: 'Raleway', sans-serif;
    --fonte-raleway500: 'Raleway', sans-serif;
    --color-titulo: #464646;
    --background-footer: #EAF2FD;
    --branco: #FFFFFF;
    --color-placeholder: #A2A2A2;

}